*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  background-color:white;
  }


body{
    
    margin: 0px auto;
    width: 80%;
    
}
nav {
    margin-top: 30px;
    text-align: center;
}

nav ul li {
    display: inline-block;
    padding: 20px;
    font-size: 1.3em;
    margin-bottom: 30px;
    color:#796465;
    
}

nav ul li a:hover{
    background-color:#CB8589;
    color: #DDE8B9;
    border-radius: 20px;
    padding: 10px;
    
}
nav ul li a {
     text-decoration: none;
 }
 
img {
    width: 100%;
}
 #imagen {
    width: 100%;
    height: 600px;
    background-size: cover;
    margin-bottom: 20px;
   
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
    
}
.container img:hover {
    filter: grayscale(80%);
    
}

div p {
    padding: 10px;
}

footer {
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
}

